<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Official NuGet Gallery" value="https://www.nuget.org/api/v2/" />
    <add key="Azure DevOps Feed" value="https://ezymigrate.pkgs.visualstudio.com/New-Ezymigrate/_packaging/ezymigrate-ultra/nuget/v3/index.json" />
  </packageSources>
  <Azure_x0020_DevOps_x0020_Feed>
    <add key="Username" value="adyl@outsourcenz.com" />
    <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAFWW8NQ8JeUa7K2CyhwbqfQAAAAACAAAAAAAQZgAAAAEAACAAAABGa8ObVvPf756YEVInQakUMmjhpp38fdHWwunvV9+o+wAAAAAOgAAAAAIAACAAAADyQt8O9lYqRP3nS8YCemyVjKSMqbRWCieTngiJ5ZUP70AAAAD2IA+VTstS2SHaSBOuW4jV+vcCfdUR3Fnm0+JNePYNcW7BctKyD0XvjNhIRIY4BLT5eLpGAcmmuoo7cKDdxhC2QAAAAB1apFS1ULuuG53+RK6RaO0I+k80s4h/GQsywxcBHd3GCO7oAF+pFLAvF3MfIuJvW0ejZ5fhAfZyS42/JlxBzIw=" />
  </Azure_x0020_DevOps_x0020_Feed>
</configuration>